@import 'tailwindcss';

@theme {
    --color-p-green: #6e6c48;
    --color-p-dark-brown: #2a1d14;
    --color-p-light-brown: #7d684c;
    --color-p-blue: #363d47;
    --color-p-grey: #6d726d;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#all {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}